{% load static %}
<div class="container py-2 pt-3">
  <div class="row justify-content-center">
    <ul class="list-unstyled d-flex mb-0 mt-2">
      <li><a class="text-light pl-2" href="#">Liên hệ</a></li>
      <li><a class="text-light pl-2" href="#">Góp ý</a></li>
      <li><a class="text-light pl-2" href="#">Rss</a></li>
      <li><a class="text-light pl-2" href="#">Sitemap</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
      <iframe
        class="w-100 h-100"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d998021.404625172!2d107.00121124929389!3d12.280653076090852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3173b5ece644a927%3A0x7530e130f4a387ad!2zxJDhuq9rIE7DtG5nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1693060389894!5m2!1svi!2s"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="col-md-4 set-fontft">
      <h4>Thông tin</h4>
      <p class="font-weight-bold">TRANG THÔNG TIN ĐIỆN TỬ PHỔ BIẾN GIÁO DỤC PHÁP LUẬT TỈNH ĐẮK NÔNG</p>
      <p>Địa chỉ: Số 11, Đường Lê Duẩn, Phường Nghĩa Tân, Thành phố Gia Nghĩa, Tỉnh Đắk Nông</p>
      <p>Điện thoại: 02613.543140 - Fax: 02613.543140 - Email: banbientap.pbgdpl@gmail.com</p>
      <p class="m-0">Trưởng Ban biên tập: Ông Trần Văn Diêu</p>
    </div>
    <div class="col-md-4 set-fontft">
      <h4>Liên kết chính phủ</h4>
      <ul class="list-unstyled">
        <li><a class="text-light" href="#">Chính phủ Việt Nam</a></li>
        <li><a class="text-light" href="#">Bộ Tư pháp</a></li>
        <li><a class="text-light" href="#">Bộ Giáo dục và Đào tạo</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid bg-blue">
  <div class="container">
    <p class="text-center mb-0">© 2023 Chính phủ Tỉnh Đắk Nông. All rights reserved.</p>
  </div>
</div>
    <!-- Brand Logo -->
