{% extends 'admin/base.html' %} {% load static %} {% load i18n admin_urls admin_list %} {% block title %}Thêm tác giả{% endblock title %} {% block contentwrapper %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Tác giả</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Auth</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <form method="post" action="{% url 'add_author' %}">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary h-100">
          <div class="card-header">
            <h3 class="card-title">Thông tin tài khoản <span class="font-italic">(bắt buộc)</span></h3>
          </div>
          {% if form.errors %}
          <div class="alert alert-danger">
            <strong>Có lỗi xảy ra:</strong>
            <ul>
              {% for field, errors in form.errors.items %} {% for error in errors %}
              <li>{{field }}: {{ error }}</li>
              {% endfor %} {% endfor %}
            </ul>
          </div>
          {% endif %}
          <!-- /.card-header -->
          <!-- form start -->
          {% csrf_token %}
          <div class="card-body">
            <div class="form-group-author row">
              <label for="username" class="col-sm-2">Tên đăng nhập</label>
              <input type="text" class="form-control col-sm-10" id="username" name="username" placeholder="Nhập tên đăng nhập" />
            </div>
            <div class="form-group-author row">
              <label for="password" class="col-sm-2">Mật khẩu</label>
              <div class="input-group col-sm-10 px-0">
                <input type="password" class="form-control" id="password" name="password" aria-describedby="passHelp" placeholder="Nhập mật khẩu" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="show_password">
                    <i class="bi bi-eye" id="eye_icon"></i>
                  </button>
                </div>
              </div>
              <small id="passHelp" class="text-danger">Mật khẩu phải có ít nhất 8 ký tự, chứa ít nhất 1 chữ số và 1 ký tự đặc biệt.</small>
            </div>
            <div class="form-group-author row">
              <label for="confirm_password" class="col-sm-2">Nhập lại Mật khẩu</label>
              <input type="password" class="form-control col-sm-10" id="confirm_password" name="confirm_password" placeholder="Nhập lại mật khẩu" />
            </div>
            <div class="form-group-author row">
              <label for="email" class="col-sm-2">Email</label>
              <input type="email" class="form-control col-sm-10" id="email" name="email" aria-describedby="emailHelp" placeholder="Nhập địa chỉ email" />
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group-author row">
              <label for="display_name" class="col-sm-2">Bút danh</label>
              <input type="text" class="form-control col-sm-10" id="display_name" name="display_name" placeholder="Nhập tên hiển thị" />
            </div>
            <div class="form-group-author row">
              <label for="last_name" class="col-sm-2">Họ và Tên</label>
              <div class="col-sm-5 px-0">
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Nhập họ" />
              </div>
              <div class="col-sm-5 px-0 pl-sm-2 mt-1 mt-sm-0">
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nhập tên" />
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <div class="col-12 px-0">
        <div class="card card-primary h-100">
          <div class="card-header">
            <h3 class="card-title">Thông tin cá nhân</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          {% comment %} {% endcomment %}
          <div class="card-body">
            <div class="form-group-author">
              <label for="job">Vị trí công tác</label>
              <input type="text" class="form-control editInputUser" id="job" name="job" placeholder="Nhập vị trí công tác" />
            </div>
            <div class="form-group-author">
              <label for="address">Địa chỉ</label>
              <input type="text" class="form-control editInputUser" id="address" name="address" placeholder="Nhập địa chỉ" />
            </div>
            <div class="form-group-author">
              <label for="phone">Số điện thoại</label>
              <input type="phone" class="form-control editInputUser" id="phone" name="phone" placeholder="Nhập số điện thoại" />
            </div>
            <div class="form-group-author">
              <label for="description">Mô tả</label>
              <textarea class="form-control editInputUser" id="description" name="description" rows="3" placeholder="Nhập mô tả"></textarea>
            </div>
            <div class="px-3">
              <button type="submit" id="btn-save" class="btn btn-primary float-right">Lưu</button>
              <button type="reset" id="btn-reset" class="btn btn-danger float-right" style="margin-right: 10px">Hủy</button>
            </div>
          </div>
          <!-- /.card-body -->
          <!-- /.row -->
        </div>
      </div>
    </div>
  </form>  
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
<script src='{% static "js/pages/auth.js" %}'></script>
<script>
  $(document).ready(function () {
    $(".editInputUser").hide(); // Ẩn các trường nhập liệu của CustomUser ban đầu

    // Xử lý khi nhấn nút "Sửa"
    $("#editBtnUser").on("click", function () {
      $(".viewInfoUser").hide(); // Ẩn thông tin hiển thị
      $(".editInputUser").show(); // Hiển thị các trường nhập liệu
    });

    // Xử lý khi nhấn nút "Đóng"
    $("#viewBtnUser").on("click", function () {
      $(".viewInfoUser").show(); // Hiển thị thông tin hiển thị
      $(".editInputUser").hide(); // Ẩn các trường nhập liệu
    });
  });
</script>

{% endblock contentwrapper %}
