{% extends 'admin/base.html' %} {% load static %} {% load i18n admin_urls admin_list %} 
{% block title %}Tác giả{% endblock title %}
{% block contentwrapper %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">
          Danh Sách Tác Giả <a href="{% url 'create_author' %}"><i class="bi bi-file-plus text-primary"></i></a>
        </h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
  <div class="card">
    <div class="card-header bg-warning">
      <h3 class="card-title"> Danh Sách Tác Giả</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="post_list" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Stt</th>
            <th class="col-3">Tên tài khoản</th>
            <th>Bút danh</th>
            <th>Ngày đăng ký</th>
            <th>Lần cuối đăng nhập</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          {% for auth in author_data_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td class="p-0 m-0"><p class="multi-truncate">{{ auth.author.username }}</p></td>
            <td class="">{{ auth.author.display_name }}</td>
            {# Lấy tên tác giả thay vì ID tác giả #}
            <td>{{ auth.author.date_joined| date:"d/m/Y" }}</td>
            <td><p class="multi-truncate">{{ auth.author.last_login| date:"d/m/Y" }}</p></td>
            <td>
              <div class="button_TG ml-3 d-flex">
                <button class="btn btn-xs btn-success mr-4" data-toggle="tooltip" data-placement="top" title="Sửa ">
                  <a class="nav-link active text-white" href="{% url 'edit_author' auth.author.id %}"><i class="bi bi-pencil"></i> </a>
                </button>
                {% if post.deleted_at %}
                <button class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="Khôi phục">
                  <a class="nav-link active text-white" href=""><i class="bi bi-arrow-counterclockwise"></i> </a>
                </button>
                {% else %}
                <button class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Hủy bài đăng">
                  <a class="nav-link active text-white" href=""><i class="bi bi-trash3"></i> </a>
                </button>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Stt</th>
            <th class="col-3">Tên tài khoản</th>
            <th>Bút danh</th>
            <th>Ngày đăng ký</th>
            <th>Lần cuối đăng nhập</th>
            <th>Thao tác</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
</section>

<script>
  $(function () {
    $("#post_list").DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        lengthMenu: "Hiển thị : _MENU_  hàng",
        zeroRecords: "Không tìm thấy kết quả nào",
        info: "Trang _PAGE_ của _PAGES_",
        infoEmpty: "Không có dữ liệu",
        infoFiltered: "(được lọc từ tổng số _MAX_ hàng)",
        search: "Tìm kiếm:",
        paginate: {
          first: "Đầu",
          last: "Cuối",
          next: "Tiếp",
          previous: "Trước",
        },
      },
    });
  });
</script>
{% endblock contentwrapper %}
